NODE_ENV=development
SWAGGER_BASE_HOST=you_server
# Postgres Global
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=gsvn_dev

# Redis Global
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# Consul Global
CONSUL_HOST=consul-server-1
CONSUL_PORT=8500

# --- 2. CẤU HÌNH KONG & KONGA ---
KONG_PG_USER=kong
KONG_PG_PASSWORD=your_kong_password
KONG_PG_DB=kong

KONGA_DB_USER=konga
KONGA_DB_PASSWORD=your_konga_password
KONGA_DB_NAME=konga_db
KONGA_TOKEN_SECRET=your_konga_token_secret
KONGA_ADMIN_EMAIL=admin@example.com
KONGA_ADMIN_PASSWORD=your_konga_admin_password

# --- AUTH SERVICE ---
AUTH_SERVICE_PORT=5001
AUTH_SERVICE_USER=service_user
AUTH_SERVICE_PASSWORD=service_password
AUTH_DB_SCHEMA=acc_db
AUTH_REDIS_DB=1
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
OAUTH2_REDIRECT_URI=http://localhost:3000/oauth2/redirect

# SECURITY CONFIG
JWT_SIGNER_KEY=your_jwt_signer_key
INTERNAL_API_KEY=your_internal_api_key

# --- ADDRESS SERVICE ---
ADDRESS_SERVICE_PORT=5005
ADDRESS_SERVICE_NAME=address-service
ADDRESS_SERVICE_USER=service_user
ADDRESS_SERVICE_PASSWORD=service_password
ADDRESS_DB_URL=jdbc:sqlite:address_db.db
ADDRESS_DB_DRIVER=org.sqlite.JDBC

# --- CART SERVICE CONFIGURATION ---
CART_SERVICE_PORT=5012
CART_SERVICE_USER=service_user
CART_SERVICE_PASSWORD=service_password
CART_DB_SCHEMA=cart_db
CART_REDIS_DATABASE=8

# --- 6. CUSTOMER SERVICE CONFIGURATION ---
CUSTOMER_SERVICE_PORT=5004
CUSTOMER_SERVICE_USER=service_user
CUSTOMER_SERVICE_PASSWORD=service_password
CUSTOMER_DB_SCHEMA=customer_db
CUSTOMER_REDIS_DATABASE=6

# --- 7. HRM SERVICE CONFIGURATION ---
HRM_SERVICE_PORT=5003
HRM_SERVICE_USER=service_user
HRM_SERVICE_PASSWORD=service_password
HRM_DB_SCHEMA=hrm_db
HRM_REDIS_DATABASE=2

# --- 8. RABBITMQ GLOBAL ---
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rootadmin
RABBITMQ_PASSWORD=your_rabbitmq_password
RABBITMQ_VHOST=/

# --- 9. INVENTORY SERVICE CONFIGURATION ---
INVENTORY_SERVICE_PORT=5007
INVENTORY_SERVICE_USER=service_user
INVENTORY_SERVICE_PASSWORD=service_password

INVENTORY_DB_SCHEMA=inventory_db
INVENTORY_REDIS_DATABASE=7
ENCRYPTION_SECRET_KEY=your_encryption_secret_key
ENCRYPTION_SALT=your_encryption_salt

# --- 10. S3 GLOBAL ---
S3_ENDPOINT=https://your-account-id.r2.cloudflarestorage.com
S3_ACCESS_KEY=your_s3_access_key
S3_SECRET_KEY=your_s3_secret_key
S3_REGION=auto

# --- 11. MEDIA SERVICE CONFIGURATION ---
MEDIA_SERVICE_PORT=5002
MEDIA_SERVICE_USER=service_user
MEDIA_SERVICE_PASSWORD=service_password
S3_BUCKET_NAME=media
S3_TEMP_BUCKET_NAME=temp
S3_EXTERNAL_URL=http://localhost:9000

# --- 12. MAIL CONFIGURATION ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_app_password

# --- 13. NOTIFICATION SERVICE CONFIGURATION ---
NOTIFICATION_SERVICE_PORT=5015
NOTIFICATION_SERVICE_USER=service_user
NOTIFICATION_SERVICE_PASSWORD=service_password
NOTIFICATION_REDIS_DATABASE=9
URL_RESET_PASSWORD=http://localhost:5137/reset-password?token=
TIME_RESET_PASSWORD=5

# --- 14. ORDER SERVICE CONFIGURATION ---
ORDER_SERVICE_PORT=5013
ORDER_SERVICE_USER=service_user
ORDER_SERVICE_PASSWORD=service_password
ORDER_DB_SCHEMA=order_db
ORDER_REDIS_DATABASE=7
ORDER_TIMEOUT=15

# --- 15. PAYMENT SERVICE CONFIGURATION ---
PAYMENT_SERVICE_PORT=5014
PAYMENT_SERVICE_USER=service_user
PAYMENT_SERVICE_PASSWORD=service_password
PAYMENT_DB_SCHEMA=payment_db
PAYMENT_REDIS_DATABASE=7

# VNPAY SANDBOX
VNP_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
VNP_RETURN_URL=http://localhost:5173/order
VNP_TMN_CODE=your_vnp_tmn_code
VNP_HASH_SECRET=your_vnp_hash_secret

# --- 16. PRODUCT SERVICE CONFIGURATION ---
PRODUCT_SERVICE_PORT=5006
PRODUCT_SERVICE_USER=service_user
PRODUCT_SERVICE_PASSWORD=service_password
PRODUCT_DB_SCHEMA=product_db
PRODUCT_REDIS_DATABASE=3

# --- 17. PROMOTION SERVICE CONFIGURATION ---
PROMOTION_SERVICE_PORT=5008
PROMOTION_SERVICE_USER=service_user
PROMOTION_SERVICE_PASSWORD=service_password
PROMOTION_DB_SCHEMA=promotion_db
PROMOTION_REDIS_DATABASE=4

# --- 18. SEARCH SERVICE CONFIGURATION ---
SEARCH_SERVICE_PORT=5010
SEARCH_SERVICE_USER=service_user
SEARCH_SERVICE_PASSWORD=service_password
SEARCH_REDIS_DATABASE=3

# --- 19. SHIPMENT SERVICE CONFIGURATION ---
SHIPMENT_SERVICE_PORT=5009
SHIPMENT_SERVICE_USER=service_user
SHIPMENT_SERVICE_PASSWORD=service_password
SHIPMENT_DB_SCHEMA=shipping_db
SHIPMENT_REDIS_DATABASE=6