<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsvn.hrmservice.mapper.PositionMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="positionId">
        INSERT INTO POSITIONS (position_name, default_base_salary, description)
        VALUES (#{positionName}, #{defaultBaseSalary}, #{description})
    </insert>

    <update id="update">
        UPDATE POSITIONS
        SET position_name = #{positionName},
            default_base_salary = #{defaultBaseSalary},
            description = #{description},
            updated_at = CURRENT_TIMESTAMP
        WHERE position_id = #{positionId}
    </update>

    <select id="findAll" resultType="com.gsvn.hrmservice.model.entity.Position">
        SELECT * FROM POSITIONS ORDER BY position_name ASC
    </select>

    <select id="findById" resultType="com.gsvn.hrmservice.model.entity.Position">
        SELECT * FROM POSITIONS WHERE position_id = #{id}
    </select>
    <select id="existByName" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM positions
            WHERE position_name = #{name}
        );
    </select>

    <delete id="deleteById">
        DELETE FROM POSITIONS WHERE position_id = #{id}
    </delete>
    <select id="findAdvanced" resultType="com.gsvn.hrmservice.model.entity.Position">
        SELECT * FROM POSITIONS
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                LOWER(position_name) LIKE LOWER(CONCAT('%', #{keyword}, '%'))
                OR LOWER(description) LIKE LOWER(CONCAT('%', #{keyword}, '%'))
                )
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="sortBy == 'salary'">default_base_salary</when>
            <when test="sortBy == 'name'">position_name</when>
        <when test="sortBy == 'createdAt'">created_at</when>
            <otherwise>created_at</otherwise>
        </choose>
        <if test="direction == 'DESC'">DESC</if>
        <if test="direction == 'ASC'">ASC</if>
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countAdvanced" resultType="long">
        SELECT COUNT(*) FROM POSITIONS
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                LOWER(position_name) LIKE LOWER(CONCAT('%', #{keyword}, '%'))
                OR LOWER(description) LIKE LOWER(CONCAT('%', #{keyword}, '%'))
                )
            </if>
        </where>
    </select>
</mapper>