<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsvn.cartservice.mapper.WishlistMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wishlist (customer_id, product_id)
        VALUES (#{customerId}, #{productId})
    </insert>

    <delete id="delete">
        DELETE FROM wishlist
        WHERE customer_id = #{customerId} AND product_id = #{productId}
    </delete>

    <select id="findByCustomerId" resultType="com.gsvn.cartservice.model.entity.Wishlist">
        SELECT * FROM wishlist WHERE customer_id = #{customerId}
        ORDER BY created_at DESC
    </select>

    <select id="exists" resultType="boolean">
        SELECT EXISTS(
            SELECT 1 FROM wishlist
            WHERE customer_id = #{customerId} AND product_id = #{productId}
        )
    </select>

</mapper>